/ServletAPI/Universal_Hall_Management_System_api/nbproject/private/
/ServletAPI/Universal_Hall_Management_System_api/build/
/DesktopApp/Universal_Hall_Management_System/nbproject/private
/DesktopApp/Universal_Hall_Management_System/build/
/DesktopApp/Universal_Hall_Management_System/nbbuild/
/DesktopApp/Universal_Hall_Management_System/dist/
/DesktopApp/Universal_Hall_Management_System/nbdist/
/DesktopApp/Universal_Hall_Management_System/nbactions.xml
/DesktopApp/Universal_Hall_Management_System/nb-configuration.xml

